.wrapper-manga {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

.show-wrapper {
    margin-left: 50px;
    width: 500px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
}

.manga-info {
    border-bottom: 1px #DADDE6 solid;
    margin: 0;
    padding: 10px;
}

.last-manga-info {
    margin: 0;
    padding: 10px;
}

.mangas-info-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    height: 200px;
}

.desc-manga {
    text-align: justify;
    width: 300px !important;
}