.parent-manga {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 10px 10px 10px;
}

.title-mangas {
  margin-top: 100px;
  text-align: center;
}

.card-manga {
  overflow: hidden;
  margin: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-manga>img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-manga h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-manga p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-manga .card-manga-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-manga-infos .card-manga-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}