.button-form {
    margin-top: 20px;
    border-radius: 25px;
    background-color: #BF9211;
    color: #fff;
    outline: none;
    transition: 0.5s;
    border: none;
    padding: 5px;
    text-align: center;
}

.button-form:hover {
    background-color: #fff;
    color: #BF9211;
}

.button-form:active {
    background-color: #fff;
    color: #BF9211;
}

.button-logout {
    margin-top: 20px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    outline: none;
    transition: 0.5s;
}

.button-logout:hover {
    background-color: #000;
    color: #fff;
    outline: none;
}

.button-logout:active {
    background-color: #fff;
    color: #000;
    outline: none;
}