.button-form {
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #BF9211;
    color: #fff;
    outline: none;
    transition: 0.5s;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.button-form:hover {
    background-color: #fff;
    color: #BF9211;
}

.button-form:active {
    background-color: #fff;
    color: #BF9211;
}

.button-logout {
    margin: 40px 20px 0px 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border: 1px solid #6CDED7;
    background-color: #000;
    color: #6CDED7;
    outline: none;
    transition: 0.5s;
}

.button-logout:hover {
    background-color: #6CDED7;
    color: #000;
    outline: none;
}

.button-logout:active {
    background-color: #000;
    color: #6CDED7;
    outline: none;
}

.button-contact {
    margin: 40px 20px 0px 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border: 1px solid #E2006F;
    background-color: #000;
    color: #E2006F;
    outline: none;
    transition: 0.5s;
}

.button-contact:hover {
    background-color: #E2006F;
    color: #000;
    outline: none;
}

.button-contact:active {
    background-color: #000;
    color: #E2006F;
    outline: none;
}

.button-edit-manga {
    margin: 20px 20px 10px 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border: 1px solid #6CDED7;
    background-color: #000;
    color: #6CDED7;
    outline: none;
    transition: 0.5s;
}

.button-edit-manga:hover {
    background-color: #6CDED7;
    color: #000;
    outline: none;
}

.button-edit-manga:active {
    background-color: #000;
    color: #6CDED7;
    outline: none;
}