.wrapper-profil {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

.title-profil {
    padding: 10px;
    font-size: 20px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.account-wrapper {
    margin-left: 50px;
    height: 500px;
    width: 400px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
}

.account-info {
    border-bottom: 1px #6CDED7 solid;
    margin: 0;
    padding: 10px;
}

.link-info {
    color: #fff;
    text-decoration: none;
}

.link-info:hover {
    text-decoration: none;
    color: #fff;
}

.image-profil {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border: 1px #6CDED7 solid;
}

.wrapper-form-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploader-file {
    background-color: #222;
    border: 1px #6CDED7 solid;
    color: #fff;
    padding: 7px;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.uploader-file:hover {
    background-color: #fff;
    color: #222;
}

.uploader-file:active {
    background-color: #6CDED7;
    color: #fff;
}

.loading-progress {
    margin: 20px;
}

.input-form-profil {
    background: #222;
    color: #fff;
    border: #6CDED7 1px solid;
    border-radius: 25px;
    width: 250px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    outline: none;
    transition: 0.5s;
}

.input-form-profil:focus {
    width: 300px;
}