.wrapper-profil {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

.title-profil {
    padding: 10px;
    font-size: 20px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.account-wrapper {
    margin-left: 50px;
    height: 500px;
    width: 400px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
}

.account-info {
    border-bottom: 1px #6CDED7 solid;
    margin: 0;
    padding: 10px;
}

.link-info {
    color: #fff;
    text-decoration: none;
}

.link-info:hover {
    text-decoration: none;
    color: #fff;
}

.image-profil {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border: 1px #6CDED7 solid;
}

.wrapper-form-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}